<div class="row">
  <div id="header" class="col-sm-12" style="text-align:center">

    <div class="boxContainer">
      <div class="yellowBox">
      </div>
      <div class="blueBox">
      </div>
      <div class="redBox">
      </div>
      <div class="greenBox">
      </div>
    </div>

    <div class="logo-image">
      <img id="mainLogo" src="../assets/images/BellucciLogo.svg" alt="Bellucci Logo">
    </div>

    <div class="boxContainer2">
      <div class="yellowBox2">
      </div>
      <div class="blueBox2">
      </div>
      <div class="redBox2">
      </div>
      <div class="greenBox2">
      </div>
    </div>
  </div>
</div>